.update-message-con {
  .title {
    font:{
      size: 16px;
      weight: 500;
    }
    margin:{
      bottom: 20px;
    }
  }
  .input-group {
    &:not(:last-child) {
      margin:{
        bottom: 10px;
      }
    }
  }
  input,
  textarea {
    font: 400 13.3333px Arial;
    width: 100%;
    padding: 15px 20px;
    border: 1px solid #ededed;
  }
  .submit-btn {
    width: fit-content;
    padding: 15px 45px;
    background: #7dff59;
    border: 0;
    margin:{
      top: 20px;
    }
  }
}
